@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/opensans/v34/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4gaVI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url(Poppins-Black.ttf) format('ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
html, body {
  height: 100%;
  width: 100%;
  background-color: #2b2b2b;
  color: #ffff;
  font-family: 'Poppins', 'Open Sans';
}
.custom-cm {
  color: black;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  display: none;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  width: 200px;
  position: absolute;
  top: 0;
  left: 0;
}
.custom-cm__item {
  cursor: pointer;
  padding: 8px 15px;
}
.custom-cm__item:hover {
  background-color: #f8f8f8;
}
.custom-cm__divider {
  border-bottom: 1px solid #eeeeee;
  margin: 10px 0;
}
div logo {
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 36pt;
}