
body {
	margin-left: 0;
}
		
.info-container {
	display: inline-flex;
	padding: 7px;
				
	align-items: top;
}

.info-container div {
	margin-left: 7px;
}

.idiot-container {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

.idiot-container video {
	z-index: -100;
			
	width: 100%;
	height: 100%;
				
	min-height: 100%; 
				
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.links {
	display: inline-block;
}

.speaker, .link {	
	cursor: pointer;
				
	opacity: 0.85;
}